*,*::after,*::before{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    line-height: 1.5;
    color:#333333;
}
header, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e9e3e9;
}
main{
    background: #e9e3e3;
}

*,*::after,*::before{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    line-height: 1.5;
    color:#333333;
}
header, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e9e3e9;
}
main{
    background: #e9e3e3;
}