*,*::after,*::before{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    line-height: 1.5;
    background: #e9e3e3;
    color:#333333;
}
header, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e9e3e9;
}
main{
    background: #e9e3e3;
}

#container{
    display:flex;
    flex: 1 0 6rem;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 1rem 0;
    
}
#container > header{
    padding: 1rem;
    color: #d48b8b;
    border-radius: 5%;
}
input{
    background-color: #e9e3e9;
    border: none;
    margin-bottom: 2rem;
}
::placeholder{
    color: #d48b8b;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

input:hover{
    background-color:#ffffff;
    color: #d48b8b;
}
input::active{
    font-size: 100%;
    box-shadow: 0 0 .75rem;
}
input:focus{
    outline: none;
    border-color: #8ac4ff;
}
/* Button Section */
#buttonSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Style button */
.buttonEl{
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 0.1rem solid transparent;
    cursor: pointer;
    text-decoration: none;
    padding: .65rem 1.75rem;
    font-size: 1.313rem;
    font-weight: bold;
    border-radius: .4rem;
    background: #d48b8b;
    border-color: #e9e3e9;
    color: #ffffff;
}
.buttonEl:hover{
    background: none;
    border-color: #ffff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.buttonEl:active{
box-shadow: 0 0 .75rem #e9e3e3 inset;
font-size: 100%;
}
.button:focus{
outline: none;
border-color: #8ac4ff;
}

/* Time element */
#timeMachine, #question{
    display: flex;
    justify-content: center;
    color: #d48b8b;
}
#answerList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #d48b8b;
}